$main-color-dark: rgb(51, 51, 51);
$main-color-light: rgb(117, 117, 117);
$bg-light-grey: rgb(240, 240, 240);
$hero-img-shadow: rgba(0, 0, 0, 0.6);
$white: rgb(255, 255, 255);
$white-transparent: rgba(255, 255, 255, 0.85);
$black: rgb(0, 0, 0);
