@use './colors' as *;

@mixin hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $hero-img-shadow;
	z-index: -1;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-padding-top: 80px;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}

.navbar {
	position: sticky;
	top: 0;
	height: 80px;
	width: 100%;
	background-color: $white-transparent;
	z-index: 2;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.navbar-brand {
		text-decoration: none;
		font-size: 4rem;
		color: $main-color-dark;
	}
	.navbar-toggler {
		padding: 0.5em 1em;
		font-size: 2rem;
		border: none;
		background-color: transparent;
	}

	.navbar-options {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80px;
		margin: 0;
		list-style: none;
		.nav-link {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 2em;
			height: 100%;
			color: $main-color-dark;
			text-decoration: none;
			transition: color 0.3s, background-color 0.3s;
			cursor: pointer;
			&:hover {
				background-color: $black;
				color: $white;
			}
		}
		.active {
			background-color: $black;
			color: $white;
		}

		.container {
			display: flex;
			height: 100%;
			justify-content: space-between;
		}
	}
}

.header {
	.header-img {
		position: relative;
		display: flex;
		align-items: center;
		height: 360px;
		color: $white;
		background-image: url('../img/jungle-1807476_1280.jpg');
		background-size: cover;
		background-position: center;
		// background-attachment: fixed;
		z-index: 1;
		p {
			font-size: 3rem;
		}
		h1 {
			font-size: 4rem;
			font-weight: 700;
		}
	}
	.img-shadow {
		@include hero-shadow;
	}
}

.main {
	width: 100%;
	.section-title {
		margin: 2em 0 1em 0;
		text-align: center;
		text-transform: uppercase;
		font-size: 4rem;
		font-weight: 200;
	}
	.section-subtitle {
		text-align: center;
		font-size: 1.6rem;
	}
}
.about-us {
	padding-bottom: 2em;
	.about-us-content {
		.about-us-img {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.about-us-text {
			h3 {
				font-size: 3rem;
				font-weight: 700;
			}
			p {
				line-height: 1.8;
			}
		}
	}
}

.hero-img {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 300px;
	width: 100%;
	background-image: url('../img/girl-5785590_1280.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 1;
	.hero-text {
		display: inline-block;
		width: 100%;
		border: 1px solid $white;
		p {
			margin: 1em 0;
			font-size: 4rem;
			font-weight: 600;
			color: $white;
		}
	}
	.img-shadow {
		@include hero-shadow;
	}
}

.products {
	padding-bottom: 3em;
	.product-card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 1em;
		padding: 2em 1em;
		max-width: 280px;
		border-radius: 8px;
		box-shadow: 0px 5px 15px 0px rgb(0, 0, 0, 0.4);
		.product-card-title {
			font-size: 3rem;
			font-weight: 300;
			text-transform: capitalize;
		}
		.product-card-price {
			font-size: 4rem;
			font-weight: bold;
		}
		.product-card-options {
			text-align: start;
		}
		.product-card-btn {
			padding: 0.3em 4em;
			background: transparent;
			border: none;
			border-radius: 8px;
			box-shadow: 0px 5px 15px 0px rgb(0, 0, 0, 0.4);
			transition: background-color 0.3s, box-shadow 0.3s;
			&:hover {
				background-color: rgba(0, 235, 0, 0.7);
				box-shadow: 0px 5px 15px 0px rgb(0, 235, 0, 0.7);
			}
		}
	}
}

.footer {
	padding-top: 4em;
	color: $main-color-dark;
	background-color: $bg-light-grey;
	.footer__sitemap {
		height: 300px;
		.footer__sitemap-logo {
			font-size: 4.4rem;
		}
	}
	.footer__bottom-text {
		font-size: 1.2rem;
		border-top: 1px solid $main-color-dark;
		font-weight: 100;
	}
}
